body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;	
    background-color: #ffffff;
    width: 100%;
  } 

.container {   
    width: 100%;   
    min-width: 300px;
  }

.errorMessages{
  width: 100%;
  float: left;
  }
  
.error{
    background-color: #5C2483;
    color: #f1f1f1;
    width: 80%;
    Text-align: center;
    font-weight: bold;
    padding:5px 10px;
    margin: auto;
  }

  .errorInputs{
    color: #5C2483;
    width: 100%;
    Text-align: left;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    padding:5px 10px;
    margin: 4px;
  }

  .error a{
      text-decoration: underline;
      color: white;
      font-weight: bolder;
  }

  .errorMessages{
    color: #5C2483;
    width: 100%;
    Text-align: left;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    padding:5px 10px;
    margin: 4px;
  }

  .title{
      width:100%;
      float: left;
  }
  
  .section{
    width: 100%;
    overflow: scroll;
    height: 500px;
  }




  /*//////////////////////////////////////////header/////////////////////////////////////////*/
  .header{
      background-color: #ffffff; 
      width: 100%;
      float: left;    
  }
  
  .logo1{
      margin: auto;
      width: 199px;
  }

 /*//////////////////////////////////////////navbar/////////////////////////////////////////*/
 .topnav {
  background-color: #5C2483;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #5C2483;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a.webicon {
  display: none;

}

.topnav a:hover {
  background-color: #5C2483;
  color: white;
}

/* //////////////////////////////////////main content//////////////////////////////////*/

 
  .mainContent{
      background-color: #f1f1f1;
      Width: 100%;
      float: left;
      padding: 20px 12px 28px 12px;   
  }
 
  .title{
    width: 90%;
    padding: 8px;
    margin: 2px;
  }

  .title h1{
    border-bottom: #009FE3 solid 3px;
    padding: 2px;
    
  }

  .section1 h2{
    text-align: center;
    color: #000000;
    font-weight: bolder;
    font-size: 28px;

  }

  .startBtn{
      

  }


  /*/////////////////////////////////////// login form///////////////////////////////////////////////////*/
  .login {
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 20px auto;
  }
  
  .login h1 {
    text-align: center;
    color: #353434;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
  }
  .login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #009FE3;
    color: #ffffff;
    
  }
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"] {
    width: 75%;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  .login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #009FE3;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    transition: background-color 0.2s;
  }
  .login form input[type="submit"]:hover {
  background-color: #066b96;
    transition: background-color 0.2s;
  }

  /*/////////////////////////////////////////// registration form/////////////////////////////////////////*/
  .register {
    width: 520px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 20px auto;
  }
  .register h1 {
    text-align: center;
    color: #353434;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
  }
  .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #009FE3;
    color: #ffffff;
  }

  .register form select{
    width: 500px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: #dddada;
    color: rgb(77, 77, 77);
  }

  .register form input[type="password"], .register form input[type="text"] {
    width: 200px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
  }

 .register form input[type="email"] {
    width: 450px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
  }

  .register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #009FE3;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    transition: background-color 0.2s;
  }
  .register form input[type="submit"]:hover {
  background-color: #066b96;
    transition: background-color 0.2s;
  }

  /* /////////////////////////////////////// Learner Tables ///////////////////////*/

.tableSection1{
  float: left;
  width: 40%;
  margin: 20px;
  border: solid black 2px;
  padding: 16px;
}
.tableSection2{
  float: left;
  width: 40%;
  margin: 20px;
  border: solid black 2px;
  padding: 16px;
}

#activeLearners{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#activeLearners td, #activeLearners th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#activeLearners tr:nth-child(even){background-color: #f2f2f2;}

#activeLearners tr:hover {background-color: #ddd;}

#activeLearners th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #009FE3;
  color: white;
  text-align: center;
}

#myLearners{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#myLearners td, #myLearners th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#myLearners tr:nth-child(even){background-color: #f2f2f2;}

#myLearners tr:hover {background-color: #ddd;}

#myLearners th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5C2483 ;
  color: white;
  text-align: center;
}

  /* ///////////////////////////////////////footer///////////////////////*/
.footer {
    background-color: #7e7e7e;
    width: 100%;
    float: left;
    margin-top: 20px;

}

.footer p {
   color: #f1f1f1;
   text-align: right;
   padding-right: 40px;
   padding: 8px;
}

