body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;	
    background-color: #ffffff;
    width: 100%;
  } 

.container {   
    width: 100%;   
    min-width: 300px;
  }

.errorMessages{
  width: 100%;
  float: left;
  }
  
.error{
    background-color: #5C2483;
    color: #f1f1f1;
    width: 80%;
    Text-align: center;
    font-weight: bold;
    padding:5px 10px;
    margin: auto;
  }

  .errorInputs{
    color: #5C2483;
    width: 100%;
    Text-align: left;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    padding:5px 10px;
    margin: 4px;
  }

  .error a{
      text-decoration: underline;
      color: white;
      font-weight: bolder;
  }

  .errorMessages{
    color: #5C2483;
    width: 100%;
    Text-align: left;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    padding:5px 10px;
    margin: 4px;
  }

  .title{
      width:100%;
      float: left;
  }
  
  .section{
    width: 100%;
    overflow: scroll;
    height: 500px;
  }




  /*//////////////////////////////////////////header/////////////////////////////////////////*/
  .header{
      background-color: #ffffff; 
      width: 100%;
      float: left;    
  }
  
  .logo1{
      margin: auto;
      width: 199px;
  }

 /*//////////////////////////////////////////navbar/////////////////////////////////////////*/
 .topnav {
  background-color: #5C2483;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #5C2483;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


.topnav a:hover {
  background-color: #5C2483;
  color: white;
}

/* //////////////////////////////////////main content//////////////////////////////////*/

 
  .mainContent{
      background-color: #f1f1f1;
      Width: 100%;
      float: left;
      padding: 20px 12px 28px 12px;   
  }
 
  .title{
    width: 90%;
    padding: 8px;
    margin: 2px;
  }

  .title h1{
    border-bottom: #009FE3 solid 3px;
    padding: 2px;
    
  }

  .section1 h2{
    text-align: center;
    color: #000000;
    font-weight: bolder;
    font-size: 28px;

  }

  .startBtn{
      padding: 8px 16px;
      font-size: 20px ;
      color: white;
      background-color: #353434;
      font-family: Arial, Helvetica, sans-serif;
      margin: auto;
      margin-top: 20px;
      width: 320px;
  }

  .actionBtn{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /*/////////////////////////////////////// login form///////////////////////////////////////////////////*/
  .login {
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 20px auto;
  }
  
  .login h1 {
    text-align: center;
    color: #353434;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
  }
  .login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #009FE3;
    color: #ffffff;
    
  }
  .login form input[type="password"], .login form input[type="text"], .login form input[type="email"] {
    width: 75%;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  .login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #009FE3;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    transition: background-color 0.2s;
  }
  .login form input[type="submit"]:hover {
  background-color: #066b96;
    transition: background-color 0.2s;
  }

  /*/////////////////////////////////////////// registration form/////////////////////////////////////////*/
  .register {
    width: 520px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 20px auto;
  }
  .register h1 {
    text-align: center;
    color: #353434;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
  }
  .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #009FE3;
    color: #ffffff;
  }

  .register form select{
    width: 500px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: #dddada;
    color: rgb(77, 77, 77);
  }

  .register form input[type="password"], .register form input[type="text"] {
    width: 200px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
  }

 .register form input[type="email"] {
    width: 450px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
  }

  .register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #009FE3;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    transition: background-color 0.2s;
  }
  .register form input[type="submit"]:hover {
  background-color: #066b96;
    transition: background-color 0.2s;
  }

  /* /////////////////////////////////////// Learner Tables ///////////////////////*/

.tableSection1{
  float: left;
  width: 40%;
  margin: 20px;
  padding: 16px;
}
.tableSection2{
  float: left;
  width: 40%;
  margin: 20px;
  padding: 16px;
}

#activeLearners{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#activeLearners td, #activeLearners th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#activeLearners tr:nth-child(even){background-color: #f2f2f2;}

#activeLearners tr:hover {background-color: #ddd;}

#activeLearners th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #009FE3;
  color: white;
  text-align: center;
}

#myLearners{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#myLearners td, #myLearners th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  height:35px;
}

table{
  border: solid 2px #353434;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  
}

#myLearners tr:nth-child(even){background-color: #f2f2f2;}

#myLearners tr:hover {background-color: #ddd;}

#myLearners th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5C2483 ;
  color: white;
  text-align: center;
}

  /* ///////////////////////////////////////footer///////////////////////*/
.footer {
    background-color: #5C2483;
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 4px;
}

footerItem {
    margin: 8px, 16px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.18);
}

.footer a {
   color: #f1f1f1;
   text-align: right;
   padding: 8px;
   text-decoration: none;
   
}


  /* ////////////////////////////////////////// Exam Pages///////////////////////*/
  .leftPanel{
    width: 360px;
    height: 500px;
    margin: 16px;
    padding: 2px;
    float: left;
  }

  .leftPanelViews{
    width: 342px;
    height: 342px;
    float: left;
    background-color: #353434 ;
  }
  .viewBoxSmall{
    width: 135px;
    height: 120px;
    margin: 10px;
    padding: 8px;
    float: left;
    background-color: #f1f1f1 ;
    text-align: center;
  }

  .viewboxSmall i{
    justify-content: center;
    align-items: center;
  }


  .endBtn, .startBtn{
    padding: 8px 16px;
    font-size: 20px ;
    color: #f1f1f1;
    background-color: #5C2483;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-top: 20px;
    width: 60%;
  }

  .endBtn{
    display: none;
  }

  .endBtn:hover, .startBtn:hover{
    background-color: #a13ee7;
  }



  .rightPanel{
    width: 64%;
    height: 500px;
    margin: 12px;
    padding: 16px;
    float: left;
    background-color: #353434 ;
  }

  .rightPanelMain{
    float: left;
    width: 100%;
    height: 400px;
    border: white solid 2px;
    margin: 4px;
    }

  .rightPanelOptions{
    width: 100%;
    height: 50px;
    float: left;
    border: white solid 2px;
    margin: 4px;
  }

  .rightPanelOptionItems{
      height: 36px;
      margin: 5px 10px;
      float: left;
      justify-content: center;
      align-items: center;

  }

  .addNotes, .mute, .endforThis, .editNotes {
    margin: 2px;
    background-color: #009FE3;
    font-size: 16px ;
    font-weight: bold;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
  }

  .addNotes:hover, .mute:hover, .endforThis:hover {
    background-color: #066b96;
  }
  .editNotes{
    display: none;

  }

  /* /////////////////////////////////// Notes Form overlay //////////////////////////////////////////*/
#notesOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

  .notesForm {
    width: 520px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;	
  }

  .notesForm h1 {
    text-align: center;
    color: #353434;
    font-size: 24px;
    padding: 20px 0 0 0;
  }

  .notesForm hr{
    width: 480px;
    height:2px;
    background-color: #009FE3;
    border-width:0;
    color:#009FE3;
  }


  .notesForm form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
  }

  .notesForm form textarea {
    width: 480px;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    word-wrap:normal;
    overflow: scroll;
  }

  .notesForm form input[type="file"] {
    width: 480px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    float: left;
  }
  .addFiles{
    width: 100%;
    height: 60px;
    margin: 10px;
    padding: 10px;
    float: left;
  }
  .notesForm form label {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: left;
  }

  .notesForm form input[type="submit"] {
    width: 100px;
    padding: 15px;
    margin: 20px 10px 10px 10px;
    background-color: #009FE3;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    transition: background-color 0.2s;
  }
  .notes form input[type="submit"]:hover {
  background-color: #066b96;
    transition: background-color 0.2s;
  }

  #exitNotes{
    width: 100px;
    padding: 15px;
    margin: 20px 10px 10px 10px;
    background-color: #009FE3;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    transition: background-color 0.2s;
  }

  #exitNotes[type="submit"]:hover {
    background-color: #066b96;
      transition: background-color 0.2s;
    }

    .exitNotes{
      float: left;
      width: 480px;
    }
    
    #notesMessage{
      display: block;
      color: #5C2483;
      font-weight: bold;
      font-style: italic;
      width: 420px;
      text-align: center;
      padding: 2px;
      margin: 2px;
    }

  

  