<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("scripts", false)
    <meta charset="UTF-8" />
    <title>@ViewData["Title"] - Highfield Education Exam Invigilation </title>

    <!-- links and includes-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/bootstrap-grid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/v4-shims.csss">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">

</head>

<body>
    <div class="container">

        <!--  Navigation Bar  -->

        <div class="topnav">
            <a href="/Index" class="active">
                <img class="logo1" src="~/img/logo.png" alt="Highfield Education Logo">
            </a>

            <div id="myLinks">
                @{
                    if (User?.Identity.IsAuthenticated == true)
                    {
                        <!--  If Logged in show: -->
                        <a href="/LoggedIn/Profile">My Profile</a>
                        <a href="">Logout</a>
                    }
                    else
                    {
                        <!--  If not Logged in show: -->
                        <a href="/Index">Home</a>
                        <a href="/Login">Login</a>
                        <a href="/Register">Register</a>
                    }

                }
            </div>

            <a href="javascript:void(0);" class="icon" onclick="topNavBar()">
                <i class="fa fa-bars fa-2x"></i>
            </a>
        </div>

        <!-- end navigation bar -->

        <!-- main content -->
  

            @RenderBody()


        <!-- footer -->
    <div class="footer">

        <div class="footerItem">
            <a href="https://www.facebook.com/askhighfield" target="_blank">
                <i class="fab fa-facebook-square"></i>Facebook
            </a>
        </div>
        <div class="footerItem">
            <a href="https://twitter.com/askhighfield" target="_blank">
                <i class="fab fa-twitter-square"></i>Twitter
            </a>
        </div>
        <div class="footerItem">
            <a href="https://www.linkedin.com/company/thehighfieldgroup/" target="_blank">
                <i class="fab fa-linkedin"></i>LinkedIn
            </a>
        </div>
        <div class="footerItem">
            <a href="https://www.highfieldqualifications.com/" target="_blank">
                <i class="fas fa-desktop"></i>Website
            </a>
        </div>
        <div class="footerItem">
        </div>

    </div>
        <!-- end footer -->

    </div>

    <!-- Javascript links here -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
