<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>@ViewData ["Title"] - Highfield Education Exam Invigilation </title>

    <!-- links and includes-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/bootstrap-grid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

</head>

<body>
    <div class="container">

        <!--  Navigation Bar  -->

        <div class="topnav">
            <a href="" class="active">
                <img class="logo1" src="~/img/logo.png" alt="Highfield Education Logo">
            </a>

            <div id="myLinks">
                <a href="/Index">Home</a>
                <a href="/Login">Login</a>
                <a href="/Register">Register</a>
                <a href="/Contact">Contact Us</a>
            </div>

            <a href="javascript:void(0);" class="webicon" onclick="topNavBar()">
                <i class="fa fa-bars fa-2x"></i>
            </a>
            <a href="javascript:void(0);" class="icon" onclick="topNavBar()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <!-- end navigation bar -->

        <div class="title">
            <h1>Highfield Education - Exam Invigilation</h1>
        </div>
        <!-- main content -->
        <div class="mainContent">

            @RenderBody()


        </div>
        <!-- footer -->
        <div class="footer">

            <p>Footer</p>

        </div>
        <!-- end footer -->

    </div>

    <!-- Javascript links here -->
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
