<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Highfield Education - Exam Invigilation Software </title>

    <!-- links and includes-->
    <link href="wwroot/css/mobile.css" rel="stylesheet" />
    <link href="wwroot/css/desktop.css" rel="stylesheet" media="only screen and (min-width : 720px)" />
    <link href="wwroot/lib/bootstrap/bootstrap-grid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

</head>

<body>
    <div class="container">

        <!--  Navigation Bar  -->

        <div class="topnav">
            <a href="index.html" class="active">
                <img class="logo1" src="img/logo.PNG" alt="Highfield Education Logo">
            </a>

            <div id="myLinks">
                <a href="index.html">Home</a>
                <a href="login.html">Login</a>
                <a href="register.html">Register</a>
                <a href="contact.html">Contact Us</a>
            </div>

            <a href="javascript:void(0);" class="webicon" onclick="topNavBar()">
                <i class="fa fa-bars fa-2x"></i>
            </a>
            <a href="javascript:void(0);" class="icon" onclick="topNavBar()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <!-- end navigation bar -->

        <div class="title">
            <h1>Highfield Education - Exam Invigilation</h1>
        </div>
        <!-- main content -->
        <div class="mainContent">

            <h2>Home</h2>


        </div>
        <!-- footer -->
        <!-- end footer -->

    </div>

    <!-- Javascript links here -->
    <script src="main.js"></script>

</body>
</html>
