@page
@model ContactModel
@{
    ViewData["Title"] = "Error";
}


<head>
    <title>@ViewData["Title"] </title>

</head>

<body>
    <div class="mainContent">
          <form>
                <div class="row">
                    <div class="col">
                            <a href="https://www.facebook.com/askhighfield"
                               class="fb btn">
                                <i class="fa fa-facebook fa-fw"></i>Facebook <img alt="Facebook"
                                                                                  src="facebook.png" width=150"
                                                                                  height="70">
                            </a>
                            <a href="https://twitter.com/askhighfield"
                               class="twitter btn">
                                <i class="fa fa-twitter fa-fw"></i>Twitter <img alt="Twitter"
                                                                                src="twitter.png" width=150"
                                                                                height="70">
                            </a>
                            <a href="https://www.linkedin.com/company/thehighfieldgroup/"
                               class="linkedin btn">
                                <i class="fa fa-linkedin fa-fw"></i>
                                LinkedIn <img alt="LinkedIn"
                                              src="linkedin.png" width=150"
                                              height="70">
                            </a>
                        </div>
                </div>
          </form>
    </div>

    <!-- Javascript links here -->
    <script src="main.js"></script>
</body>
