@page
@model forgotModel
@{
    ViewData["Title"] = "Forgot Login Details";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="mainContent">
        
            <h1>@ViewData["Title"]</h1>

            <div class="login">
                <form asp-page-handler="login" method="post" autocomplete="off">
                    <p>If your email is registered, you will be sent an email resetting your password</p>
                    <label for="forgotEmail"><i class="fas fa-envelope"></i></label>
                    <input type="email" name="forgotEmail" placeholder="What's your email?">

                    <input type="submit" value="Send">
                </form>
            </div>
        
      </div>




</body>
