@page
@model forgotModel
@{
    ViewData["Title"] = "Forgot Login Details";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="mainContent">
            <div class="login">
                <h1>I have forgotten my password</h1>
                <form asp-page-handler="login" method="post" autocomplete="off">
                    <label for="forgotEmail"><i class="fas fa-envelope"></i></label>
                    <p>If your email is registered, you will be sent an email resetting your password</p>
                    <input type="email" name="forgotEmail" placeholder="What's your email?">
                    <input type="submit" value="Send">
                </form>
            </div>
      </div>
</body>
