@page
@model IndexModel
@{
    ViewData["Title"] = "Highfield Education - Exam Invigilation Software ";
}

<head>
    <title>@ViewData["Title"] </title>

</head>

<body>
        <div class="mainContent">
                <h2>Home</h2>

           
        </div>

</body>
