@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Highfield Education - Exam Invigilation Software Login </title>

    <!-- links and includes-->
    <link href="css/mobile.css" rel="stylesheet" />
    <link href="css/desktop.css" rel="stylesheet" media="only screen and (min-width : 720px)" />
    <link href="css/bootstrap/bootstrap-grid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

</head>

<body>
    <div class="mainContent">

        <div class="register">
            <form asp-page-handler="register" method="post" autocomplete="off">
                <select id="userType" name="userType">
                    <option value="learner">Choose Account Type</option>
                    <option value="learner">Learner</option>
                    <option value="invigilator">Invigilator</option>
                </select>


                <label for="firstName"><i class="fas fa-user"></i></label>
                <input type="text" name="firstname" placeholder="First Name" id="firstName" required>

                <label for="surname"><i class="fas fa-user"></i></label>
                <input type="text" name="surname" placeholder="Surname" id="surname" required>

                <!-- This code below changes the placeholder in the email box depending on wether the email entered has already been used.---> 
                @if (Model.success)
                {
                    <label for="email"><i class="fas fa-envelope"></i></label>
                    <input type="email" name="email" placeholder="Email" id="email" required>

                }
                else
                {
                    <label for="email"><i class="fas fa-envelope"></i></label>
                    <input type="email" name="email" placeholder="Email already in use!" id="email" required>
                }

                <label for="userpassword"><i class="fas fa-lock"></i></label>
                <input type="password" name="userpassword" placeholder="Password" id="userpassword" required>

                <label for="passwordConfirm"><i class="fas fa-lock"></i></label>
                <input type="password" name="passwordConfirm" placeholder="Confirm Password" id="passwordConfirm" required>

                <input type="submit" value="Register">

            </form>

        </div>

    </div>

</body>
