@page
@model ExamInvigilatorProject.Pages.WebcamTestModel
@{
}

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <!-- Add your site or application content here -->
    <p>Hello world! This is HTML5 Boilerplate.</p>
    <script src="js/main.js"></script>

    <!--Vanilla HTML5 Videoport-->
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">This is a webcam</button>
    <canvas id="canvas" width="640" height="480"></canvas>

    <script src="/js/webcamtest.js"></script>
</body>