@page
@model ExamModel
@{
    ViewData["Title"] = "Exam Invigilation" ;

}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] </title>

    <!-- Get Session ID's: myList[] should be passed by session. This will then allow the selected User ID's to be called/used-->

</head>

<body>

    <div class="mainContent">

        <div class="leftPanel">
            <div class="leftPanelViews">

                <div class="viewBoxSmall">
                    <i class="fas fa-user-graduate fa-8x"></i>
                    <!-- if myList[0]>0, show camera/screen for learner based on ID, else show this icon-->
                </div>
                <div class="viewBoxSmall">
                    <i class="fas fa-user-graduate fa-8x"></i>
                    <!-- if myList[0]>0, show camera/screen for learner based on ID, else show this icon-->
                </div>
                <div class="viewBoxSmall">
                    <i class="fas fa-user-graduate fa-8x"></i>
                    <!-- if myList[0]>0, show camera/screen for learner based on ID, else show this icon-->
                </div>
                <div class="viewBoxSmall">
                    <i class="fas fa-user-graduate fa-8x"></i>
                    <!-- if myList[0]>0, show camera/screen for learner based on ID, else show this icon-->
                </div>

            </div>

            <!-------------------------------------------------- Buttons -------------------------------------------------------->
            <div class="actionBtn">
                <button class="startBtn">Start Exam</button>

                <button class="endBtn">End Exam </button> <!-- only shown if exam has started, otherwise show start button -->
            </div>

            <div class="timer">
                <!-- space here for countdown timer for exam-->
            </div>
        </div>
        <div class="rightPanel">
            <div class="rightPanelMain">
                <!-- display individual selected learner's camera/screen -->
            </div>
            <div class="rightPanelOptions">
                <div class="rightPanelOptionItems">
                    <button class="addNotes" onclick="notesOn">Add Notes</button> <!-- If no notes exist yet, show add notes button -->

                    <button class="editNotes">Edit Notes</button>   <!-- This button will need to be  coded so that if a notes record already exists, edit is shown instead of add: change css display: none etc.-->
                </div>

                <div class="rightPanelOptionItems">
                    <button class="mute">Mute/Unmute</button> <!-- optional addition - mute/unmute microphone to chat with the selected person-->
                </div>

                <div class="rightPanelOptionItems">
                    <button class="mute">Switch View</button> <!-- Switch between selected learner's camera/screen -->
                </div>

                <div class="rightPanelOptionItems">
                    <button onclick="notesOn()" class="endforThis">End for this Learner</button> <!-- End Exam For This Learner-->
                </div>

            </div>

        </div>

        <div id="notesOverlay">
         <!--notes page will load as overlay when clicked-->
        <div class="notesForm">
        <h1>Notes</h1>
            <hr>
        <form>
            <textarea name="notesText" placeholder="Type Notes here" wrap="hard"></textarea>

            <div class="addFiles"><input type="file"></div>

            <div id="notesMessage"><p>Notes Saved</p></div>

            <input type="submit" value="Save">
            <button onclick="notesOff()" id="exitNotes">Exit</button>
        </form>
    </div>



   </div>







</body>


<script>

        
</script>
