@page
@model InvigilatorModel
@{
    ViewData["Title"] = "Logged In - Invigilator";

}

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] </title>

</head>

<body onload="firstLoad()">
<div class="mainContent">

    <h2>Welcome "name"</h2>

    <div class="tableSection1">
        <h3>List of ready learners</h3>
        <table id="activeLearners">

                <p><button class="btn btn-primary" id="load" onclick="buttonClicked()">Load</button></p>
                
        </table>
    </div>

    <!-- myList[] array created with id's of chosen students (if none selected, = 0's) -->
    <div class="tableSection2">
        <h3>My Observation List</h3>
        <table id="myLearners">
            <tr>
                <th>Remove</th>
                <th>Student Name</th>
            </tr>
        </table>
        <!-- Arrows: on click - set specific array value to 0. -->
    </div>

    <div class="actionBtn">
        <button class="startBtn" onclick="startExam()">Start Invigilation</button>
        <!-- on click load exam page passing myLIst[] array values -->
    </div>



</div>

</body>

<script>
    function moveLearner(firstName) {
        var table = document.getElementById("myLearners");
        var name = document.getElementById(firstName);
        var row = table.insertRow(1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);

        cell2.innerHTML = name.innerHTML;
    }
</script>