@page
@model InvigilatorModel
@{
    ViewData["Title"] = "Logged In - Invigilator";

}

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] </title>

</head>

<body onload="firstLoad()">
<div class="mainContent">

    <h2>Welcome "name"</h2>

    <div class="tableSection1">
        <h3>List of ready learners</h3>
        <table id="activeLearners">                
        </table>
    </div>

    <!-- myList[] array created with id's of chosen students (if none selected, = 0's) -->
    <div class="tableSection2">
        <h3>My Observation List</h3>
        <table id="myLearners">
            <tr>
                <th>Remove</th>
                <th>Student Name</th>
            </tr>
        </table>
        <!-- Arrows: on click - set specific array value to 0. -->
    </div>

    <div class="actionBtn">
        <button class="startBtn" onclick="startInvig()">Start Invigilation</button>
        <!-- on click load exam page passing myLIst[] array values -->
    </div>



</div>

</body>

<script>
    function moveLearner(id) {
        //adds item from left table to right
        var table = document.getElementById("myLearners");
        var name = document.getElementById(id);
        var cells = name.getElementsByTagName("td");
        var row = table.insertRow(1);
        var button = document.createElement("BUTTON")
        var node = document.createTextNode("remove")
        button.appendChild(node);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.innerHTML = '<button class="fas fa-arrow-alt-circle-left" type="button" onClick="moveLearnerBack('+id+')">';
        cell2.innerHTML = cells[0].innerText;
        //cell1.innerHTML = <button class="fas fa-arrow-alt-circle-right"></button>;

        //removes item from left side
        var table2 = document.getElementById("activeLearners");
        var index = name.rowIndex;
        try {
            table2.deleteRow(index);
        }
        catch (err) {
            table2.deleteRow(id - 1);
        }
    }



    function moveLearnerBack(id) {
        var table2 = document.getElementById("myLearners");
        try {
            table2.deleteRow(id);
        }
        catch (err) {
            table2.deleteRow(id - 1);
        }
    }
</script>