@page

@model LearnerModel
@{
    ViewData["Title"] = "Logged In - Learner";
}


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="mainContent">
        <h2>Welcome "name"</h2>

        <div class="tableSection1">
            <h3>Text Here - explaining the process</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>

            <div class="actionBtn">
                <button class="startBtn" onclick="getAllPermissions()">I Am Ready</button>
 
            </div>

        </div>

        <div class="tableSection2">
            <img id="learnerPic" src="~/img/stopwatch.png" alt="A silver stopwatch being held, with a thumb ready to press the start button.">

        </div>

        <div id="readyOverlay">
            <h2>Text will go here</h2>
        </div>


    </div>
</body>
