@page

@model LearnerViewModel
@{
    ViewData["Title"] = "Logged In - Learner";
}


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="mainContent">
        <h2>Exam Room</h2>

        <div class="tableSection1">
            <div class="viewBoxSmall">
                <i class="fas fa-user-graduate fa-8x"></i>
                
            </div>

        </div>

        <div class="tableSection2">
            <div class="viewBoxSmall">
                <i class="fas fa-user-graduate fa-8x"></i>
            </div>

        </div>


    </div>
</body>
