@page
@model profileModel
@{
    ViewData["Title"] = "My Profile";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="mainContent">
        
            <h1>@ViewData["Title"]</h1>



        
    </div>




</body>
