.container {   
    width: 100%;   
    min-width: 720px;
  } 

  .footerItemRight{
    margin-top: 70px;
  }

  .logo1{
    margin: auto;
    width: 25%;
}
  .topnav a.webicon {
    background: #5C2483;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a.icon {
    display: none;
  }

